*{   
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.body{
    background-image: url("../img/backgroundapp.jpg");
    background-size: cover;
}
/* Nav Bar*/


.navbar{
    background-color: white ;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}


.navbar img{
    width: 20%;
    height: 20%;
    margin-left: 0;
    margin-top: 25px;
}

.navbar ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}

.navbar ol li{
    margin: 0 2px;


}
.navbar ol li a{
    font-size: 30px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding:  5px 10px;
    color:black;

}

.navbar ol li:hover a{
    background:  #0a5071;
    color: white;
}
.searchbox{
    display: flex;
    margin: 60px ;
    height: 35px;
    line-height: 35px;

}

.searchbox input{
    outline: none;
    height: 100%;
    width: 350px;
}

/* characters view */
.container{
    width: 100%;
    display: flex;
    position: absolute;
    
    
    
}

.card{
    width: 50%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0,0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    height: 50%;
    
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0,0, 1);
    transform: translate(-3%);

}

.card img{
    width: 100%;
    height: 100%;
}
.card button{
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10%;
    height: 10%;
}

.description{
    display: flex;
    
}

.description h2{
    margin: auto;
    justify-content: space-between;
    font-size: 1.5em;
    color: black;

}

.title_character{
    
    position: absolute;
    color: black;
    
}